<h1>Listing todos</h1>

<table id="todos-table">
  <tr>
    <th>Name</th>
    <th>Completed</th>
    <th>Points</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Todo</a>