
<div class="todo">
  <div class="display">
    <div class="points"> <%= points %> </div>
    <div class="name"> <%= name %> </div>
  </div>
  <div class="edit">
    <input class="point-input" type="text" value="<%= points %>" /> 
    <div > </div>
  </div>
</div>
