// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@mixin border_radius($values) {
  -webkit-border-radius: $values ;
  -moz-border-radius: $values ;
  border-radius: $values ;
}
@mixin box_shadow($values) {
  -webkit-box-shadow: $values;
  -moz-box-shadow: $values;
  box-shadow: $values;
}

.container {
  border: 5px solid #222;
  @include border_radius(5px);

  h3 {
    margin: 10px 0px;
    background-color:#eee;
    text-align:center;
    padding:5px;
    @include box_shadow(0px 1px 5px #222)
  }


  li {
    a {
      padding:5px;
      display:block;
      font-size:1.5em;
      font-weight:bold;
      text-decoration:none;
      
      &:hover {
        @include box_shadow(0px 0px 25px #444 inset );
        color: #fff;
        background-color: #222; 
      }
    }
  }
}

.selected {
  background-color: #eee;
}


#todos {
}
#todos-summary {
  .summary {
    text-align:center;
    font-weight:bold;
    font-size:1.8em;
    margin-bottom:5px;
  }
}

.todo {
  .points {
    float:left;
    min-width:50px;
  }
  font-size: 1.5em;
  font-weight:bold;

  .display {
    padding: 5px;
  }
  .edit {
    display:none;
    input {
      width: 98%;
      font-size: 1.2em;
      padding: 1px;
    }
  }
}

.todo.editing {
  .edit {
    display:block;
  }
  .display {
    display:none;
  }
}
