// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  border: solid thin #222;

  li {
    a {
      padding:5px;
      display:block;
      font-size:1.5em;
      font-weight:bold;
      text-decoration:none;
    }
  }
}

.selected {
  background-color: #eee;
}

.todo {
  .points {
    float:left;
    min-width:50px;
  }
  font-size: 1.5em;

  .display {
    padding: 5px;
  }
  .edit {
    display:none;
    input {
      width: 98%;
      font-size: 1.2em;
      padding: 1px;
    }
  }
}

.todo.editing {
  .edit {
    display:block;
  }
  .display {
    display:none;
  }

}
