

%h2 syncing with basecamp. you will be redirected to the homepage when the sync is done 
= image_tag "basecamp_256.png", :class => 'image'


:javascript 
  $(function () {
    $.post('#{basecamp_sync_path}', function() {
      alert('synced');
      window.location.replace("#{root_path}");
    })
  });
